.favorite-img {
    width: 200px;
    height: 200px;
}

.favorite-cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    border-bottom: 1px solid #ccc;
    padding: 30px
}

.remove-btn {
    font-size: 20px;
    padding: 5px 10px;
    background-color: rgb(239, 61, 100);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}