.login-img {
    width: 550px;
    height: 630px;
  
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 600px;
    height: 630px;
    background-color:white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.loginpage {
    height: 100vh;

    background-image: url("../../Assets/signupbg1.jpg");
     background-repeat: no-repeat;
  background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: "#f4f6f8";
}

.register-link{
    text-decoration: none;
  
    margin-left: 8px;
    color:rgb(31, 86, 133);
    font-weight: 700;
    border-bottom: 2px solid rgb(31, 86, 133);
}
.login-heading
{
    position: absolute;
  
    padding: 5px;
    top: -2%;
    width: 400px;
    left: 16%;
    line-height:35px;
      font-size: 28px;
  font-family:serif;
  color:white;
  
 
}
